
<p style="color: green"><%= notice %></p>

<h1 class="art">Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Voir les articles", article %>
    </p>
  <% end %>
</div>

<%= link_to "Nouveau article", new_article_path %>
<style>
.art{
 padding left : 4000%
}
