<style>
.contenu {
  display: none;
}

</style>
<p style="color: green"><%= notice %></p>

<h1 class="art">Articles</h1>
<div class="row">
<div class= "d-flex justify-content-evenly">

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
</div>
</div>
</div>
  <% end %>
  </div>
  </div>
</div>



<%= link_to "Nouvel article", new_article_path %>
<style>
.art{
 padding left : 4000%
}
